EXPO_PUBLIC_BASE_URL=
EXPO_PUBLIC_ETHEREUM_API_KEY=
EXPO_PUBLIC_COIN_GECKO_API_KEY=
# TODO: Move Pimlico API Key to backend
EXPO_PUBLIC_PIMLICO_API_KEY=
EXPO_PUBLIC_FLASH_API_BASE_URL=
EXPO_PUBLIC_FLASH_ANALYTICS_API_BASE_URL=
EXPO_PUBLIC_MERCURYO_WIDGET_ID=
EXPO_PUBLIC_MERCURYO_WIDGET_SECRET=
EXPO_PUBLIC_INFO_GRAPH=https://api.studio.thegraph.com/query/78455/solid-frontend-staging/version/latest

# contract
EXPO_PUBLIC_MAINNET_BORING_VAULT_ADDRESS=0x3e2cD0AeF639CD72Aff864b85acD5c07E2c5e3FA
EXPO_PUBLIC_MAINNET_TELLER_ADDRESS=0xf2bFC2C7c36560279b97F553a2480B59965e9eC0
EXPO_PUBLIC_MAINNET_BORING_QUEUE_ADDRESS=0x5090eee1a6e568c46178861fddd31e2c33f4d5a4
EXPO_PUBLIC_MAINNET_ACCOUNTANT_ADDRESS=0xC594ea2B28F5766eB66D101E0F59A958Feb9C0c5

EXPO_PUBLIC_FUSE_VAULT_ADDRESS=0x740636B7e6E6F6a4FD80A8781CfD3AA993821C1D
EXPO_PUBLIC_FUSE_TELLER_ADDRESS=0xcBA3D8DC1DdE5fbD4c04cBbD5624Dc79D300963d